{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <title>Contact</title>
</head>
<body>
    <div class="intro">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <div class="header__logo">Каравелла</div>
        
                    <nav class="nav">
                        <div class="nav_item">
                            <a class="nav__link" href="{% url 'main' %}">НА головну

                            </a>
                            <a href="index.html">
                                <i class="fas fa-home" id="mobile_icon"></i>
                            </a>

                            
                        </div>

                        <div class="nav_item" style="position: relative; display: inline-block;">
                            <a class="nav__link" href="{% url 'rooms' %}" id="our_rooms" >Наші Кімнати
                            </a>
                            <a href="#rooms" id="our_rooms1">
                                <i class="fas fa-hotel" id="mobile_icon"></i>
                            </a>
                            <div class="dropdown-content">
                                <a href="#">СІМЕЙНА КІМНАТА</a>
                                <a href="pages/LuxRoom.html">ЛЮКС КІМНАТА</a>
                                <a href="#">КІМНАТА НА ОДНОГО</a>
                                <a href="#">КІМНАТА НА ДВОХ</a>
                              </div>

                            
                        </div>

                        <div class="nav_item">
                            <a class="nav__link" href="booking.html">Бронюйте
                            </a>
                            <a href="#">
                                <i class="fas fa-concierge-bell" id="mobile_icon"></i>

                            </a>
                        

                        </div>

                        <div class="nav_item">
                            <a class="nav__link" href="{% url 'contacts' %}" active id="nav_contact">Зв'язок з нами
                            </a>
                            <a href="contact.html">
                                <i class="fas fa-phone" id="mobile_icon"></i>

                            </a>

                        </div>

                        <div class="nav_item">
                            <a class="nav__link" href="#">Портфоліо
                            </a>
                            <i class="fas fa-history" id="mobile_icon"></i>

                        </div>

                        <div class="nav_item">
                            <a class="nav__link" href="#">Галерея
                            </a>
                            <i class="fas fa-images" id="mobile_icon"></i>

                        </div>
                    </nav>
                </div>
            </div>

        </header>
        <h1 class="title"><span class="contact_title">Contact Info</span></h1>
        
        <table>
            <tr><th>Номера Телефонов</th><th>Контанктная почта</th></tr> <!--ряд с ячейками заголовков-->
            <tr><td>+380*******</td><td>test@mail.com</td></tr> <!--ряд с ячейками тела таблицы-->
            <tr><td>+380*******</td><td>test@mail.com</td></tr>
            <tr><td>+380*******</td><td>test@mail.com</td></tr>
        </table>
    
    </div>
    

   
    <div class="footer">
        <div class="footer_container">
            <div class="footer_column" id="first_col">
                <h1 class="footer_title">Готель КАРАВЕЛЛА</h1>
                <h2 class="footer_post_title">Post Title</h2>
                <p class="admin_name"><span class="admin_color">Admin</span>, domainname.com</p>
                
                <p class="date">Friday, 6th April 20</p>
                <p class="footer_text">Готель КАРАВЕЛЛА: 65012 Одесса,
                    вул. Пантелеймонівська 62.
                    Вхід до готелю зі стороны
                    вулиці Пушкінська</p>
                <a href="#" class="read_more">Знайти на мапі »</a>
            </div>

            <div class="footer_column" id="links" >
                <h1 class="footer_title">Quick Links</h1>
                <a href="#" class="footer_ref"><span class="quotes">»</span> Бронювання</a>
                <hr class="footer_line">
                <a href="#" class="footer_ref"><span class="quotes">»</span> Акціі</a>
                <hr class="footer_line">
                <a href="#" class="footer_ref"><span class="quotes">»</span> Ціни</a>
                <hr class="footer_line">
                <a href="#" class="footer_ref"><span class="quotes">»</span> Відгуки</a>
                <hr class="footer_line">
                <a href="#" class="footer_ref"><span class="quotes">»</span> Оплата</a>
                <hr class="footer_line">
                <a href="#" class="footer_ref"><span class="quotes">»</span> Публічна оферта</a>
                <hr class="footer_line">
                <a href="#" class="footer_ref"><span class="quotes">»</span> Захoди ANTI COVID</a>
                <hr class="footer_line">
               
            </div>

            <div class="footer_column" id="tweets">
                <h1 class="footer_title">Latest Tweets</h1>
                <p class="footer_text"><span class="tweet">@namehere </span>Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago</p>
                <p class="footer_text"><span class="tweet">@namehere </span>Justoid nonummy laoreet phasellent penatoque in antesque pellus elis eget tincidunt. Nequatdui laorem justo a non tellus laoremut vitae doloreet 1 day ago.</p>
                
            </div>

            <div class="footer_column" id="form">
                <h1 class="footer_title">Залиште Відгук</h1>
                <form action="#" method="GET">
                    <input type="text" placeholder="Повне ім'я">
                    <br>
                    <input type="email" placeholder="Email адреса">
                    <br>
                    <input type="text" placeholder="Тема">
                    <br>
                    <input type="text" placeholder="Ваше повідомлення" class="message_form">
                    <br>
                    <button class="form_btn">Надіслати</button>
                </form>
               
            </div>
        </div>

    </div>
</body>
</html>
