{% extends 'app1/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block active-room %}{% endblock %}
{% block active-main %}{% endblock %}
{% block active-contact %}nav__link--active{% endblock %}

{% block content %}
    <h1 class="title"><span class="contact_title">Contact Info</span></h1>
        <table>
        <style>
            table{color: {{ color }} }
        </style>
            <tr><th>Номера Телефонов</th><th>Контанктная почта</th></tr> <!--ряд с ячейками заголовков-->
            <tr><td>{{ phone }}</td><td>{{ mail }}</td></tr> <!--ряд с ячейками тела таблицы-->
            <tr><td>+380*******</td><td>test@mail.com</td></tr>
            <tr><td>+380*******</td><td>test@mail.com</td></tr>
        </table>
{% endblock %}

