{% extends 'app1/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block active-main %}{% endblock %}
{% block active-contact %}{% endblock %}
{% block active-room %}nav__link--active{% endblock %}

{% block content %}
    <div class="wrapper">
            <div class="slider-wrapper">
                <div class="slideshow-container">

                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                      <div class="numbertext">1 / 7</div>
                      <img src="{% static 'img/room-lux1.jpg'%}" style="width:100%">
                      <div class="room__text">Спальня</div>
                    </div>

                    <div class="mySlides fade">
                      <div class="numbertext">2 / 7</div>
                      <img src="../../static/img/room-lux2.jpg" style="width:100%">
                      <div class="room__text">Вітальня</div>
                    </div>

                    <div class="mySlides fade">
                      <div class="numbertext">3 / 7</div>
                      <img src="../../static/img/room-lux3.jpg" style="width:100%">
                      <div class="room__text">Вітальня</div>
                    </div>

                    <div class="mySlides fade">
                        <div class="numbertext">4 / 7</div>
                        <img src="../../static/img/room-lux4.jpg" style="width:100%">
                        <div class="room__text">Вітальня</div>
                      </div>

                      <div class="mySlides fade">
                        <div class="numbertext">5 / 7</div>
                        <img src="../../static/img/room-lux5.jpg" style="width:100%">
                        <div class="room__text">Вітальня</div>
                      </div>

                      <div class="mySlides fade">
                        <div class="numbertext">6 / 7</div>
                        <img src="../../static/img/room-lux6.jpg" style="width:100%">
                        <div class="room__text">Ванна</div>
                      </div>

                      <div class="mySlides fade">
                        <div class="numbertext">7 / 7</div>
                        <img src="../../static/img/room-lux7.jpg" style="width:100%">
                        <div class="room__text">Ванна</div>
                      </div>

                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  </div>
                  <br>

                  <!-- The dots/circles -->
                  <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                    <span class="dot" onclick="currentSlide(5)"></span>
                    <span class="dot" onclick="currentSlide(6)"></span>
                    <span class="dot" onclick="currentSlide(7)"></span>

                  </div>


                </div>

                <div class="desc_text">
                    <h1 class="room_title">Кiмната Люкс</h1>

                    <p class="desc">Щоб Ваш відпочинок, бізнес-поїздка або відрядження проходили з максимальним комфортом, забронюйте номер “Люкс” у готелі КАРАВЕЛЛА. Завдяки розташуванню готелю в центрі міста з вікон у Вас буде чудовий краєвид на Пушкінську вулицю. Якісний ремонт, нові меблі, дизайнерський інтер'єр на кшталт європейського мінімалізму відрізняють високий клас облаштування номера "Люкс".
                        <br>
                        <br>
                        Подбайтеcь про бронювання готелю в Одесі заздалегідь - "Люкс" номерів всього 3 штуки і на них завжди великий попит. Номер передбачає комфортне розміщення до 3 осіб.</p>
                </div>
            </div>

{% endblock %}

{% block Addcontent %}
    <div class="description">
        <h1 class="room_title" style="padding-top: 50px;">ОПИС</h1>

        <ul class="category">
            <li class="cat-el">Категорія: Люкс</li>
            <li class="cat-el">Кількість номерів: Люкс</li>
            <li class="cat-el">Кількість основних місць: Люкс</li>
            <li class="cat-el">Кількість додаткових місць: Люкс</li>
            <li class="cat-el">Тариф без сніданку(01.09 - 30.09): 2000 грн</li>
            <li class="cat-el">Тариф без сніданку(01.10 - 31.10): 1800 грн</li>
            <li class="cat-el">Тариф без сніданку(01.11 - 30.11): 1600 грн</li>
            <li class="cat-el">Тариф без сніданку(01.12 - 29.12): 1600 грн</li>
            <li class="cat-el">Тариф без сніданку(30.12 - 01.01): 2000 грн</li>
        </ul>
    </div>

    <div class="decs2">
        <div class="block-expand">
		    <article>
				<h2>Для тих, кому достатньо найкращого</h2>

                    <p>Номер "Люкс" - найкраща пропозиція готелю КАРАВЕЛЛА для найвибагливіших гостей, які бажають розміститися з найкращими умовами. Зручне розміщення меблів та техніки, затишна та стильна обстановка в номері, продумане облаштування – все сприяє приємному перебування. Номер призначений як для індивідуального розміщення гостей, так і пар, у тому числі з дитиною.</p>
                    <p>До Ваших
                        послуг у номері:</p>
                    <ul>
                        <li>одне двоспальне (160*200 см) або два односпальні (80*200 см) ліжка з ортопедичним матрацом;</li>
                        <li>зручний розкладний диван як місце для відпочинку чи додаткове спальне місце;</li>
                        <li>кондиціонер;</li>
                        <li>шафа купе;</li>
                        <li>невеликий столик та стілець;</li>
                        <li>LED-телевізор з кабельним TV та можливістю підключення USB-носія;</li>
                        <li>сейф;</li>
                        <li>міні-бар;</li>
                        <li>чайник с набором посуду;</li>
                        <li>цілодобовий, високошвидкісний Wi-Fi;</li>
                        <li>у ванній кімнаті крім сантехніки є фен та косметичний набір.</li>
                    </ul>

                    <p>Діти віком до 6 років можуть мешкати в номері без додаткової плати. За потреби дитині до 3 років може бути надане дитяче ліжко-манеж.</p>
                    <p>Оплачувані послуги:</p>

                    <ul>
                        <li>туристичний збір - 1% від усієї вартості проживання;</li>
                        <li>ранній заїзд чи пізній виїзд;</li>
                        <li>додаткове місце для 1 гостя — 300 грн на добу за дорослу або дитину віком від 13 років, 150 грн на добу за дитину віком від 6 до 12 років.</li>
                    </ul>
                    <p>Номер “Люкс” – це найкращі умови для Вашої зручності. Якщо всі номери виявилися зайнятими? Зверніть увагу на номер “<a style="color: #c19b76;" title="Забронювати номер Покращений у центрі Одеси" href="https://voyage-hotel.com.ua/nomer-uluchshennyj">Покращений</a>”.</p>
            </article>
		</div>
    </div>
{% endblock %}

{% block forScript %}<script src="../../static/scripts/slider.js"></script>{% endblock %}


