@import "import/header.css";
@import "import/intro.css";
@import "import/ourRooms.css";
@import "import/textSection.css";
@import "import/footer.css";
@import "import/contacts.css";
@import "import/media.css";
@import "import/room.css";
@import "import/login.css";
@import "import/book.css";


body {

    font-family: 'Gilda Display', serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav__link--active {
    color: #fff;
    /*border: 2px solid #76c38f;*/
    padding: 10px;
    border-radius: 9px;
    background: #c19b76;
    pointer-events: none;
}

a {
    text-decoration: none;
}
