@import "import/header.css";
@import "import/intro.css";
@import "import/ourRooms.css";
@import "import/textSection.css";
@import "import/footer.css";
@import "import/contacts.css";
@import "import/media.css";
@import "import/room.css";

body {

    font-family: 'Gilda Display', serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
